@page "/newtestlogout"
@inject IJSRuntime jsr
@inject NavigationManager nav

    <h3>TestLogout</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await jsr.InvokeVoidAsync("localStorage.removeItem", "user").ConfigureAwait(false);
        nav.NavigateTo("/");
    }
}