@inject IJSRuntime jsr
@page "/submitting"
@using Client.TestAPIEnv.Models


    <h3>APIgo</h3>



    <button>Press Me</button>

    @code {
        string username = string.Empty;
        private List<Answer> Answers { get; set; }
        private Submission Submission { get; set; }
        protected override async Task OnInitializedAsync()
        {
            await base.OnInitializedAsync();
            var userdata = await jsr.InvokeAsync<string>("localStorage.getItem", "user").ConfigureAwait(false);
            if (!string.IsNullOrWhiteSpace(userdata))
            {
                username = userdata.Split(';', 3)[0];
            }
        }

        private void Do()
        {
            
        }
    }
