<style>
  .center-inner {
    width: 80%;
    height: 80%;
    margin: auto;
    max-width: 1000px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkorange;
  }

  .question-container {
    width: 40%;
    height: 80%;
    margin: auto;
    padding: 15px;
    background-color: yellow;
  }

  .ide-container {
    width: 55%;
    height: 80%;
    margin: auto;
    padding: 15px;
    background-color: green;
  }
</style>

<div class="center-inner">

  <div class="question-container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto laudantium exercitationem voluptatibus aspernatur reiciendis omnis, quo consequuntur provident harum quia at hic, illum culpa tempore facere beatae? Aut dolore nobis blanditiis et officia fuga! Cumque dicta dolor quis, aspernatur expedita magnam excepturi sequi, distinctio harum quibusdam a? Ab, reprehenderit suscipit!
  </div>

  <div class="ide-container"></div>

</div>