@inject IJSRuntime jsr

<style>

.userauth-container
{
    position: absolute;
    right: 0;
    padding: 1.5rem;
    font-size: 14px;
}

@@media screen and (max-width: 450px)
{
    .userauth-container
    {
        font-size: 12px;
    }
}

</style>

<div class="userauth-container">


    <p>
    @if (string.IsNullOrEmpty(username))
    {
        <span><a href="/">Register</a> <a href="/login_">Login</a></span>
    }
    else
    {
        <span>Hello, @username <a href="/newtestlogout">(Logout)</a></span>
    }
</p>

</div>

@code {

    string username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var userdata = await jsr.InvokeAsync<string>("localStorage.getItem", "user").ConfigureAwait(false);
        if (!string.IsNullOrWhiteSpace(userdata))
        {
            username = userdata.Split(';', 3)[0];
        }
    }
}

